.coin-container .content {
  max-width: 740px;
  margin: 1rem auto;
  padding: 0.7rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--coinbar-bg);
  box-shadow: var(--coinbar-shadow);
  border-radius: 8px;
}

.rank {
  margin: 0.5 0;
}

.rank-btn {
  border: 1px solid var(--a-color);
  box-shadow: 0px 0px 8px var(--a-color);
  background-color: var(--a-color);
  border-radius: 8px;
  padding: 0.3rem;
  opacity: 0.88;
  color: rgba(255, 255, 255, 0.618);
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info .coin-heading {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.info .coin-price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info p {
  padding-right: 1rem;
}

table {
  margin: 0.5rem 0;
}

td,
th {
  padding: 8px;
  text-align: center;
}

th {
  background-color: var(--coinbar-bg);
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 100%;
}

.stats .row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--a-color);
  margin: 0.6rem 0;
  padding-bottom: 0.5rem;
}

.stats .row p:first-child {
  color: var(--coinbar-bg);
}

.about h3 {
  margin: 1rem 0;
}

.about p {
  line-height: 1.8rem;
}

@media screen and (max-width: 700px) {
  .coin-container .content {
    max-width: 100%;
    margin: 0.5rem;
    padding: 0 0.5rem;
  }

  .stats {
    grid-template-columns: 1fr;
  }

  td,
  th {
    padding: 3px;
  }

  .rank {
    margin: 0.5rem;
  }

  .rank-btn {
    margin: 0.5rem 0;
  }
}
