.container {
  max-width: 1140px;
  margin: auto;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--heading-bg);
  box-shadow: var(--heading-shadow);
  border-radius: 8px;
  margin: 2rem 1rem;
  padding: 1.4rem 1rem;
  font-weight: 700;
}

.coin-name {
  margin-left: 0.3rem;
}

.coin-row {
  background-color: var(--coinbar-bg);
  box-shadow: var(--coinbar-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin: 2rem 0.618rem;
  padding: 0.7rem 1rem;
}

.coin-row:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.coin-row div,
.heading div {
  width: 16.66666%;
  text-align: start;
}
img {
  height: 40px;
  margin-right: 8px;
  width: auto;
}

.img-symbol {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .hide-mobile {
    display: none;
  }
}
